:root {
	--title-color: #212121;
	--subtitle-color: #757575;
	--active-color: #2196F3;
	--background-footer: #2F303A;
	--background-team: #F5F4FA;
}

* {
	margin: 0;
}

body {
	font-family: Roboto, sans-serif;
	color: var(--subtitle-color);
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
	margin: 0;
}

.container {
	/* outline: 1px solid red; */
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */
.header {
	letter-spacing: 0.02em;
	border-bottom: 1px solid #eee;
}

.header-container {
	display: flex;
	align-items: center;
}

.logo {
	padding-top: 24px;
	padding-bottom: 25px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 3%;
	text-decoration: none;
	color: var(--active-color);
	margin-right: 93px;
}

.logo .logo-header {
	color: #000;
}

a {
	color: var(--title-color);
	text-decoration: none;
}

.list {
	margin: 0;
	padding: 0;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-list {
	margin-right: 50px;
}

.menu-list:last-child {
	margin-right: 0;
}

.menu .menu-item {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
}

.active {
	color: var(--active-color);
}

.menu-item:hover,
.menu-item:focus {
	color: var(--active-color);
}

.header-group {
	margin-left: auto;
}

.contacts {
	display: flex;
	padding: 0;
	margin: 0;
}

.contact-list {
	margin-right: 40px;
}

.contact-list:last-child {
	margin-right: 0;
}

.contact-list a {
	text-decoration: none;
	color: currentColor;
	font-weight: 500;
	font-size: 14px;
}

.contact-list a:hover,
.contact-list a:focus {
	color: var(--active-color);
}

/* HERO */
.hero {
	background-color: var(--background-footer);
	letter-spacing: 0.06em;
	text-align: center;

}

.hero-container {
	padding-top: 200px;
	padding-bottom: 280px;
	padding-left: 284px;
	padding-right: 284px;
}

.hero-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	padding-bottom: 30px;
}

.hero-btn {
	cursor: pointer;
	color: #fff;
	background-color: var(--active-color);
	font-size: 16px;
	font-weight: 700;
	padding: 10px 22px;
	border: none;
	border-radius: 4px;
	/* box-shadow: 0 4px 4px 0 #000; */
}

/* FEATURES */

.features-items {
	letter-spacing: 0.03em;
	display: flex;
}

.features-container {
	padding-top: 94px;
	padding-bottom: 118px;
}

.features-item {
	margin-right: 30px;
}

.features-item:last-child {
	margin-right: 0;
}

.features-title {
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	color: var(--title-color);
}

.features-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.02em;
}

/* ABOUT */

.about-title {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: var(--title-color);
	padding-bottom: 50px;
}

.about-items {
	display: flex;
	justify-content: space-between;
	padding-bottom: 54px;
}

/* OUR TEAM */

.team {
	background-color: var(--background-team);
}

.team-title {
	padding-top: 94px;
	padding-bottom: 50px;
	text-align: center;
	color: var(--title-color);
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
}

.team-items {
	display: flex;
	justify-content: space-between;
	padding-bottom: 94px;
}

.team-item {
	background-color: #fff;
}

.team-item img {
	padding-bottom: 30px;
}

.team-item-title {
	text-align: center;
	color: var(--title-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	padding-bottom: 10px;
}

.team-item-text {
	text-align: center;
	letter-spacing: 0.03em;
	padding-bottom: 30px;
}


/* FOOTER */

.footer {
	background-color: var(--background-footer);
	color: #fff;
}

.footer-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-container>a {
	padding-bottom: 20px;
}

.logo-footer {
	color: #fff;

}

address {
	padding-top: 20px;
	font-size: 14px;
	font-style: normal;
}

address>p {
	padding-bottom: 9px;
}

address ul li {
	padding-bottom: 9px;
}

address ul li:last-child {
	padding-bottom: 0;
}

address ul li a {
	text-decoration: none;
	opacity: .6;
	color: #fff;

}

address ul li a:hover,
address ul li a:focus {
	opacity: 1;
}


/* PORTFOLIO */

.roptfolio-container {
	padding-top: 94px;
	padding-bottom: 94px;
}

.buttons {
	display: flex;
	justify-content: center;
}

.btn {
	margin-right: 8px;
}

.btn button {
	padding: 6px 25px;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
	font-weight: 500;
	background-color: var(--background-team);
	color: var(--title-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn:last-child {
	margin-right: 0;
}

.btn-active button {
	background-color: var(--active-color);
	color: #fff;

}

.btn button:hover,
.btn button:focus {
	background-color: var(--active-color);
	color: #fff;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.card-title {
	padding-top: 20px;
	padding-left: 24px;
	color: var(--title-color);
	font-size: 18px;
	letter-spacing: .06em;
	line-height: 2;
}

.card-text {
	padding-bottom: 20px;
	padding-left: 24px;
	letter-spacing: .03em;
	color: var(--subtitle-color);
	line-height: 1.875;
}

.card {
	margin-top: 30px;
	border-bottom: 1px solid #eee;
}

.card a img {
	display: block;
}

.content {
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}